.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin: 0 0 245px 412px;
  max-width: 360px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
    .cover__subtitle{
      margin: 0 0 195px 332px;
    }
  }
  @media screen and (max-width: 1023px) {
    .cover__subtitle{
      margin: 0 0 115px 204px;
    }
  }
  @media screen and (max-width: 767px) {
    .cover__subtitle{
      margin: 0 0 33px 16px;
      max-width: 288px;
      font-size: 14px;
      line-height: 1.14;
    }
  }